parameters:
    level: 4

    paths:
        - src/Bootstrap
        - src/Encryption
        - src/ErrorHandling
        - src/Exception
        - src/HTTP
        - src/HTTPProblem
        - src/Middleware
        - src/Session
        - src/Templating
        - src/Testing
        - src/Twig
        - src/Utility

    ignoreErrors:
        - '#Else branch is unreachable because previous condition is always true.#'
        - '#Result of \&\& is always false.#'
    excludes_analyse:
        - %rootDir%/../../../src/Bootstrap/ComposerInitializeProject.php
